/* * {
  box-sizing: border-box;
} */

.container {
  background-color: darkblue;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-form_input {
  border: none;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 250px;
}

.search-form_input:focus {
  border-color: white;
}

.search-form_btn {
  border: none;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.link {
  text-decoration: none;
}

.photo-card {
  justify-content: space-evenly;
  width: 300px;
}

.info {
  display: flex;
  text-decoration: none;
  padding: 10px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.info-item {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  color: black;
  text-align: center;
}

.load-more {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 600;
}
